body {
    font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
    margin: 10px;
}

/***** Start: Headers *****/

h1 {
    color: #b2d33a;
    font-size: 28px;
    font-weight: bold;
    margin-top :18.760px;
}

h1 ~ pre {
    padding : 0;
    margin: 1em 0px 1em;
    background-color: #fff;
    border: none;
    
}

h1.resourceHeader {
    color: #fff;
    font: bold 24px "Courier New", Courier, mono;
    background-color: #b2d33a;
    margin: 36px 0px 4px 0px;
    padding: 2px 10px;
}

h2.methodHeader {
    color: #b2d33a;
    font-size: 3.5ex;
    font-family: "Courier New", Courier, mono;
    margin: 36px 0px 0px 0px ;
    padding: 0px;
}

.trait {
    color: white;
    font-size: 0.8em;
    background-color: darkcyan;
    padding-left: 5;
    padding-right: 5;
    vertical-align: middle;
    border-radius: 2px;
}

.trait2 {
    color: #b2d33a;
    font-size: 0.7em;
    background-color: white;
    padding-left: 2;
    padding-right: 2;
    vertical-align: middle;
}

h2 {
   font-size: 3.5ex;
}

h3 {
    color: #878787;
    margin: 18px 0px 2px 0 px;
    font-size: 2ex;
}

/***** End: Headers *****/
/***** Start: Links *****/

a {
    color: #0bd;
    text-decoration: none;
    font-size: 1.9ex;
    padding-top: 0;
    margin-top: 0;
    cursor:pointer;
}
li > a {
    color: #0bd;
    text-decoration: none;
    font-size: 2.4ex;
}
.row  a {
    color: #0bd;
    text-decoration: none;
    font-size: 2.4ex;
}

a:hover {
    text-decoration: underline;
}

/***** End: Links *****/
/***** Start: Links *****/
ul.restAPIs{
    float: none;
    clear: both;
    overflow: hidden;
    display: block;
    margin: 0;
    padding: 0;

}


li.main {
    list-style-type: none;
    float: none;
    clear: both;
    overflow: hidden;
    margin: 0 0 10px;
    padding: 0;
    background-color: #F9F9F9;
    
}
li.main_odd {
    list-style-type: none;
    float: none;
    clear: both;
    overflow: hidden;
    margin: 0 0 10px;
    padding: 0;
   	background-color: #F5F5F5;
    
}
li.sublink {
    list-style-type: none;
    float: none;
    clear: both;
    overflow: hidden;
    margin: 0 0 5 40;
    padding-left: 0px  ;
    
}
.sublink:hover {
   	/*background-color: rgba(238, 238, 238, 0.8); */
   	background-color: white;
}
li.jsonObject {

   list-style-type: none;
}

/***** End: Links *****/
/***** Start: Paragraphs *****/

p {
    color: #000;
    font-size: 1.7ex;
    margin: 0px;
    padding: 0px;
}

.restPath {
    margin-bottom: -18px;
    padding-top: 18px;
}

.code {
    color: #878787;
    font: 1.8ex "Courier New", Courier, Monaco, monospace;
}

/***** End: Links *****/
/***** Start: Tables *****/

table {
    width: 100%;
    border: 1px solid #c8c8c8;
    border-collapse: collapse;
    margin: 0px;
    text-align: left;
    
}

thead{
    color: #fff;
    background-color: #989898;
    padding-bottom: 0;
    padding-top: 0;
    font-weight: bold;
    height: 0;
    margin-top: 0;
}

tbody{
    text-align: left;
    color: #878787;
    font-size: 1.5ex;
    height: 22px;
    margin-top: 17px;
    padding-top: 4px;
    padding-left: 10px;
}

td {
    border: 1px solid #c8c8c8;
    padding-left: 10px;
}

tbody td {
    height: 20px;
    margin-top: 0;
    padding-top: 4px;
    padding-bottom: 3px;
    color: #000;
    font-size: 2.1ex;
}

.column1 {
    width: 200px;
    font-size: 1.5ex;
    margin-left: 10px;
    padding-left: 6px;
    text-indent: 5px;
}

.column2 {
    width: 100px;
    font-size: 1.5ex;

}

.column3 {
    width: 100px;
    font-size: 1.5ex;

}

.column4 {
    width: 100px;
    font-size: 1.5ex;
    text-align: center;

}

.column5 {
    width: 100px;
    font-size: 1.5ex;
    text-align: center;

}

.columnAuto {
    width: auto;
    font-size: 1.5ex;
}

/***** End: Tables *****/

/***** bold tag *****/
li > b {
    font-weight: bold;
    font-size: 17px;
}
/****** End: bold tag *****/

/****** Api tools *****/

.row , .api{
    margin-top: 5px;
    margin-right: 0px;
}     
.api, .x_wwww_form, .request_body, .response_body, .requestUrl, .serverUrls {
    display: none;
}
.GET {
	
    color: #0f6ab4;
    font-size: 1em;
    padding-top: 5px;
    font-weight: bold;
    
    padding-left: 5;
    padding-right: 5;
    vertical-align: middle;
    border-left: 5px solid #0f6ab4;

}
.POST {
    color: #10a54a;
    font-size: 1em;
    padding-top: 5px;
    font-weight: bold;
    
    padding-left: 5;
    padding-right: 5;
    vertical-align: middle;
    border-left: 5px solid #10a54a;
}
.PUT {
	color: #c5862b;
    font-size: 1em;
    padding-top: 5px;
    font-weight: bold;
    
    padding-left: 5;
    padding-right: 5;
    vertical-align: middle;
    border-left: 5px solid #c5862b;
}

.DELETE {
    color: red;
    font-size: 1em;
    padding-top: 5px;
    font-weight: bold;
    
    padding-left: 5;
    padding-right: 5;
    vertical-align: middle;
    border-left: 4px solid red;
    
}
/****** End: Api tools *****/


/****** Modal Dialog ******/
.modal-header, h4 {
      background-color: #b2d33a;
      color:white !important;
      text-align: center;
      font-size: 20px;
}
.modal-body {
    padding: 0 !important;
}
.modal-footer {
      background-color: #f9f9f9;
}
.modal-content {
    border-radius: 0 !important;
}
.modal-title {
    margin: 0;
    line-height: 1;
}

.btn-dialog-popup {
    position: fixed;
    top: 18px; right: 10px;
    outline:none !important;
    color: #fff !important;
    border-color: #056ed6 !important;
    z-index: 1;
    background-color: #0080FF !important;
}
.btn-dialog-popup:hover {
    color: #fff !important;
    background-color: #076cd0 !important;
    border-color: #056ed6 !important;
}

.authorization-dialog .row {
    margin-top:10px;
}
#verifyUserAccountCredentialsTypeResponse, #verifyLoginResponse, .authorization-dialog{
    display:none;
}
/****** End: Modal Dialog ******/

/****** API Path Hidden******/
ul > li .api-path {
    display :none; 
    width : 85% ;
}
.api-path .api {
    color :black;
    background-color : #fcf6db;
    border: 1px solid #e5e0c6;
}
.api-path > pre {
    background-color : #fcf6db;
    border: 1px solid #e5e0c6;
}

ul > li .api-path-delete {
    background-color: #f5e8e8;
    border: 1px solid #e8c6c7;
}

ul > li .api-path-get {
    background-color: #e7f0f7;
    border: 1px solid #c3d9ec;
}

ul > li .api-path-post {
    background-color: #e7f6ec;
    border: 1px solid #c3e8d1;
}

ul > li .api-path-put {
    background-color: #f9f2e9;
    border: 1px solid #f0e0ca;
}

.api-path-delete thead {
    background-color: #a41e22;
}
.api-path-get thead {
    background-color: #0f6ab4;
}
.api-path-post thead {
    background-color: #10a54a;
}
.api-path-put thead {
    background-color: #c5862b;
}

/****** End : API Path Hidden******/

/****** slide-toggle******/
.description-toggle{
	cursor:pointer;
}
.description-toggle:hover{
	font-weight:bold;
}
/****** End : slide-toggle ******/
.color:responseCode_200 {
      color:green;
}
.responseCode_200 , .responseCode_201{
      color:#13c20f;
}
.responseCode_401, .responseCode_403, .responseCode_404, .responseCode_409 , .responseCode_400{
      color:#f39822;;
}
.responseCode_500 , .responseCode_509 {
      color:#d40011;
}
pre {
    white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

/****** JSON or wwww-from-urlencoded resource******/
.sample-resource:hover {
   background-color: #c8f5d7;
   cursor:pointer;
}
/****** End :JSON or wwww-from-urlencoded  resource******/

/****** Clip Board******/
.copy-to-clipboard{
	opacity: 0;
    position: absolute;
    right: 0px;
    top: 0px;
    border: 1px solid #ccc;
    border-top: 0;
    border-right: 0;	
}
/****** End : Clip Board******/

/*ovrride well from bootstrap*/
.wellCustom {
  padding: 5px;    
}
/****** End: API Path Hidden ******/